/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
-webkit-text-size-adjust: 100%; 
-ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { 
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box;
 }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}


/*----------- HEADER --------------*/
header {
  color:#FDFDFD;
  padding-top: 0.5rem;
  background-color: #FF5733;
  font-family: 'Montserrat', sans-serif;
}

header img {
  float: left;
  height: 88.39px;
  margin: 10px;
  margin-top: 0px;
}

header h1 {
  margin: 0.5em 0 0 0; 
  font-size: 1.5rem;
  text-align: left;
}

header h2 {
  margin: 1em 0; 
  font-weight: normal; 
  font-size: 1rem;
}

header div#date {
  color: black;
  text-align: center;
  margin-top: 2rem;
}

span#lastvisit {
  color: black;
  text-align: center;
  margin-top: 2rem;
}


/*----------- NAVIGATION --------------*/
nav {
  background-color: #eee;
  margin-top: 2rem;
}

nav ul { 
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button#hamburgerButton {
margin: 0px;
}

nav button {
  /* margin: 0.2rem 2vw; */
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555
}

nav ul li a {
  display: block;
  font-weight: bold;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #333;
  text-align: center;
}

nav ul li.active {
  background-color: #000000;
  color: #F3A695;
}

nav ul li a:hover {
  background-color: #000000;
  color: #F3A695;
}
/*----------Responsive Nav-------*/
nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

nav {
  background-color: #eee;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/*----------- MAIN --------------*/
picture img {
  width: 100%;
}

main {
  padding: 0.5rem 2vw;
  min-height: 10rem;
}

div#banner {
  font-family:'Montserrat', sans-serif;
  background-color:#F3A695;
  color: #000000;
  border:3px solid #3226d3;
  text-align: center;
  padding: 2em;
  margin-top: 1em;
  font-size: 12pt;  
}

div.showme{display: block;}
div.hideme{display: none;}

h1 { 
  text-align: center;
}

section.weather h2 {text-align: center;}

main section {
  border: 2px solid;
  margin-bottom: 15px;
}

main section {
  background-color:#FDFDFD;
  color: black;
}

main section h2 {
  color: #000000;
}

main section h2, main section p {
  padding: 0 0.7rem;
}

main section p {
  line-height: 1.5rem;
  color: #000000;
}

.btn {
  background-color: #0a4f77da;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 4px 4px 4px 4px;
}

.hero {
  background-image: url('../images/cornburg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-content {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1.5rem;
  text-align: center;
  width: 80%;
  margin: 2rem 10%;
}

.hero-content p {
  font-size: 1.1rem;
}
div#container p {
  grid-column: 2/5;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

body {
	font-family: Montserrat,Arial, Helvetica, sans-serif;
	background-color:#f7f7f7;
}

/* Add padding to container elements */
form {
  grid-column: 2/4;
  padding: 20px;
  width:auto;
  border:1px solid #ccc;
  border-radius:10px;
  background:white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
}
select {
  width: 58%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
}

input[type=phone] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
}

textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;

}

input[type=text]:focus, input[type=password]:focus, input[type=phone]:focus, select:focus {
  background-color: #ddd;
  outline: none;
}





/* Set a style for all buttons */
button {
  background-color: #0eb7f4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
	font-size:16px;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
	border-radius:10px;
}

button:hover {
  opacity:1;
}

/* Change styles for signup button on extra small screens
@media screen and (max-width: 300px) {
  .signupbtn {
     width: 100%;
  }
}*/

/*----------- FOOTER --------------*/
footer {
  color:#FDFDFD;
  background-color: #FF5733;
  padding: 1.5rem 2vw;
  text-align: center;
  border-top: 5px solid black;
}

footer p a {
  text-decoration: underline;
  font-weight: bold;
  color: #FDFDFD;
}
footer p a:hover {
  color: #F3A695;
}

footer img {margin-right: 10px; height: 88.39px;}