/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {
/*----------- BODY --------------*/
header div.header-content,
main, nav ul, footer {
    max-width: 64rem;
    margin: auto;
}
/*----------- HEADER --------------*/
/*----------- NAVIGATION --------------*/
nav ul {
    display: block;
    text-decoration: none;
    list-style-type: none;
}

nav button {display: none;}

nav ul li a {
    flex-basis: auto;
    padding: .5rem 1rem;
}

nav ul#primaryNav {
    padding: 0 2vw;
    display: flex;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    font-size: .9rem;
  }
  
  nav ul li a:hover {
    background-color: #000000;
    color: #F3A695;
  }
  
  nav ul li.active a {
    background-color: #000000;
    color: #F3A695;
}


/*----------- MAIN --------------*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 65rem;
    margin:auto;
}

picture {
    grid-column: 1/5;
}

h1.page_id {
    grid-column: 1/2;
    grid-row: 1/2;
}

main div#banner {
    grid-column: 1/5;
    grid-row: 1/1;
}

main div.hero {
    grid-column: 2/4;
    grid-row: 3/5;
}

main section.events {
    grid-column: 1/2;
    grid-row: 3/4;
}

main section.weather {
    grid-column: 1/2;
    grid-row: 4/5;
}

main section.news {
    grid-column: 2/5;
    grid-row: 5/6;
}

main section.join {
    grid-column: 1/2;
    grid-row: 5/6;
}

main section.spotlight-1 {
    grid-column: 4/5;
    grid-row: 3/4;
}

main section.spotlight-2 {
    grid-column: 4/5;
    grid-row: 4/5;
}

main section.spotlight-3 {
    display: block;
    grid-column: 4/5;
    grid-row: 4/5;
}

div#container p {
    grid-column: 2/5;
}
/*----------- FOOTER --------------*/
 footer img {
    float: left; margin-top: 50px; width: auto;
 }

/* end of media query */
}