/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 25rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/

header h1 {font-size: 2rem;}
header h2 {font-size: 1.5rem;}



/*----------- NAVIGATION --------------*/
nav ul{display: none;} 

nav ul.open#primaryNav {
    display: block;
    margin-left: 2vw;
    border-right: 1px solid rgba(0,0,0,0.5);
    
}
nav ul li {float: left;}

nav ul li a{
    padding: .5rem 1rem;
    border-right: 1px solid rgba(0,0,0,0.5);
}


/*----------- MAIN --------------*/
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  main div#banner {
      grid-column: 1/5;
      grid-row: 1/1;
      font-size: 16pt;
  }

  main section.hero {
    display: grid;
    grid-column: 1/5;
    grid-row: 3/4;
  }

  main section.news {
    display: grid;
    grid-column: 1/5;
    grid-row: 4/5;
  }

  main section.spotlight-1 {
    display: grid;
    grid-column: 1/3;
    grid-row: 5/6;
  }

  main section.spotlight-2 {
    display: grid;
    grid-column: 3/5;
    grid-row: 5/6;
  }

  main section.join {
    display: block;
    grid-column: 1/5;
    grid-row: 7/8;
  }

  main section.events {
    grid-column: 1/3;
    grid-row: 6/7;
  }

  main section.weather {
    grid-column: 3/5;
    grid-row: 6/7;
  }

  main section {
    border: 1px solid #0b010c;
    margin-bottom: 0;
  }


/*----------- FOOTER --------------*/
footer {
    color:#FDFDFD;
    background-color: #FF5733;
    padding: .5rem 2%;
    text-align: center;
}
  
footer img {
    margin-right: 10px; width: 15%;
}
footer {
    display: flex;
    flex-direction: column;
}
    
footer div.footer-content-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
footer div div.footer-logo-side {
    display: flex;
    align-items: flex-end;
    text-align: left;
    margin-top: -2rem;
}
    
footer div div.footer-logo-side p {
    padding: 2rem;
}
    
footer div div.footer-map-side {
    text-align: right;
}
    
} /* end of media query */