/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}


/*----------- HEADER --------------*/
header {
    color:#FDFDFD;
    padding: .5rem 2%;
    background-color: #FF5733;
    font-family: 'Montserrat', sans-serif;
}
header img {float: left; margin-right: 10px; width: 25%;}
header h1 {margin: 0; font-size: 1.3rem;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #000000;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #000000;
    color: #F3A695;
}
nav ul li.active a {
    background-color: #000000;
    color: #F3A695;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}


/*----------- FOOTER --------------*/
footer {
    color:#FDFDFD;
    background-color: #FF5733;
    padding: .5rem 2%;
    text-align: center;
}
.colors td{
    width: 25%;
    height: 3em;
  }
.primary {
    background-color: #FF5733;
  }
  .secondary {
    background-color: #FDFDFD;
  }
  .accent1 {
    background-color: #F3A695;
  }
  .accent2{
      color: #ffffff;
    background-color: #000000;
  }



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}